:root {
    font-size: 62.5%;
}

/* mobile m, 375px */

@media(min-width: 375px) {
    .main {
        padding-top: 10rem;
    }
    
    .footer-1 {
        column-gap: 3rem;
    }

    .wrapTitleItemFooter-1 {
        width: 13rem;
    }

    .wrapFirstPartFooter-2 {
        column-gap: 3rem;
    }

    .wrapSecondPartFooter-2 {
        padding: 0 3rem;
    }
}

/* mobile l, 425px */

@media(min-width: 425px) {
    .main {
        padding-top: 12rem;
    }

    .footer-1 {
        column-gap: 4rem;
    }

    .wrapFirstPartFooter-2 {
        column-gap: 4rem;
    }

    .wrapSecondPartFooter-2 {
        padding: 0 4rem;
    }
}

@media(min-width: 768px) {
    .logoTinder {
        width: 12rem;
    }
    
    .fa-bars {
        font-size: 3rem;
    }
    
    .main {
        padding-top: 8rem;
    }
    
    .titleMain {
        margin-bottom: 3rem;
        font-size: 5rem;
    }
    
    .wrapSubtitleMain {
        margin-bottom: 3rem;   
    }

    .subtitleMain {
        font-size: 2.5rem;
    }

    .wrapBtnMain {
        margin-bottom: 3rem;
    }

    .btnCreateMain {
        padding: 0.8rem;
        width: 45rem;
        font-size: 2.5rem;
    }
    
    .btnLoginMain {
        padding: 0.8rem;
        width: 45rem;
        font-size: 2.5rem;
    }

    .imgGooglePlay {
        margin-bottom: 3rem;
        width: 20rem;
    }

    .textBottomMain {
        font-size: 1.5rem;
    }
}

@media(min-width: 1000px) {
    .navFa-bars {
        display: none;
    }

    .logoTinder {
        width: 18rem;
    }

    .wrapLogoMenuDesktop {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .navMenuDesktop {
        display: inline-flex;
    }

    .ulMenuDesktop {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 0;
        margin: 0;
    }
    
    .itemMenuDesktop {
        color: white;
        font-size: 1.4rem;
        font-weight: bold;
        cursor: pointer;
    }

    .itemMenuDesktop:hover {
        color: #D6002F;
        text-decoration: underline;
        transition: all .3S ease;
    }

    .wrapHeaderBtn {
        display: flex;
        gap: 3rem;
    }

    .headerBtnLanguage {
        background: none;
        color: white;
        font-size: 1.6rem;
        font-weight: bold;
        cursor: pointer;
    }

    .headerBtnLanguage:hover {
        opacity: 0.8;
    }

    .headerBtnLogin {
        background-color: white;
        color: black;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 0.5rem 3rem;
        border-radius: 3rem;
    }

    .headerBtnLogin:hover {
        opacity: 0.8;
    }
    
    .main {
        padding-top: 16rem;
    }

    .titleMain {
        margin-bottom: 4.5rem;
        font-size: 9rem;
    }
    
    .wrapSubtitleMain {
        margin-bottom: 4.5rem;   
    }

    .subtitleMain {
        font-size: 2rem;
    }

    .wrapBtnMain {
        margin-bottom: 4.5rem;
    }

    .btnCreateMain {
        padding: 0.8rem;
        width: 35rem;
        font-size: 2.5rem;
    }

    .btnLoginMain {
        display: none;
    }

    .imgGooglePlay {
        display: none;
    }

    .textBottomMain {
        font-size: 1.2rem;
        text-align: end;
        margin-top: 6rem;
    }
    
    .footer-1 {
        gap: 4rem;
    }
    
    .titleFooter-1 {
        font-size: 1.6rem;
    }
    
    .itemFooter-1 {
        font-size: 1.4rem;
    }
    
    .wrapTitleItemFooter-1 {
        width: 16rem;
    }
    
    .wrapFirstPartFooter-2 {
        gap: 4rem;
    }
    
    .imgGooglePlayFooter, .imgAppStoreFooter {
        width: 14rem;   
    }
    
    .imgAppStoreFooter {
        display: inline;
    }
    
    .wrapSecondPartFooter-2 {
        padding: 0 20rem;
    }
    
    .textFooter-2 {
        font-size: 1.2rem;
    }
    
    .itemFooter-3 {
        font-size: 1.2rem;
    }
    
    .itemCopyright {
        font-size: 1.2rem;
    }
}

@media(min-width: 1400px) {
    .logoTinder {
        width: 20rem;
    }
    
    .itemMenuDesktop {
        font-size: 1.8rem;
    }

    .headerBtnLanguage {
        font-size: 1.8rem;
    }

    .headerBtnLogin {
        font-size: 1.8rem;
    }
    
    .main {
        padding-top: 20rem;
    }

    .titleMain {
        margin-bottom: 8rem;
        font-size: 10rem;
    }
    
    .wrapSubtitleMain {
        margin-bottom: 8rem;   
    }

    .subtitleMain {
        font-size: 3rem;
        line-height: 5rem;
    }

    .wrapBtnMain {
        margin-bottom: 8rem;
    }

    .btnCreateMain {
        padding: 0.8rem;
        width: 50rem;
        font-size: 4rem;
    }

    .textBottomMain {
        font-size: 1.6rem;
        margin-top: 6rem;
    }
    
    .footer-1 {
        gap: 8rem;
    }
    
    .titleFooter-1 {
        font-size: 1.8rem;
    }
    
    .itemFooter-1 {
        font-size: 1.6rem;
    }
    
    .wrapTitleItemFooter-1 {
        width: 20rem;
    }
    
    .wrapFirstPartFooter-2 {
        gap: 8rem;
    }
    
    .imgGooglePlayFooter, .imgAppStoreFooter {
        width: 18rem;   
    }
    
    .wrapSecondPartFooter-2 {
        padding: 0 20rem;
    }
    
    .textFooter-2 {
        font-size: 1.6rem;
    }
    
    .itemFooter-3 {
        font-size: 1.6rem;
    }
    
    .itemCopyright {
        font-size: 1.6rem;
    }
}
