:root {
    font-size: 62.5%;
}

/* mobile m, 375px */

@media(min-width: 375px) {
    .main {
        padding-top: 10rem;
    }
    
    .footer-1 {
        column-gap: 3rem;
    }

    .wrapTitleItemFooter-1 {
        width: 13rem;
    }

    .wrapFirstPartFooter-2 {
        column-gap: 3rem;
    }

    .wrapSecondPartFooter-2 {
        padding: 0 3rem;
    }
}

/* mobile l, 425px */

@media(min-width: 425px) {
    .main {
        padding-top: 12rem;
    }

    .footer-1 {
        column-gap: 4rem;
    }

    .wrapFirstPartFooter-2 {
        column-gap: 4rem;
    }

    .wrapSecondPartFooter-2 {
        padding: 0 4rem;
    }
}

@media(min-width: 768px) {
    .logoTinder {
        width: 12rem;
    }
    
    .fa-bars {
        font-size: 3rem;
    }
    
    .main {
        padding-top: 14rem;
    }
    
    .titleMain {
        margin-bottom: 5rem;
        font-size: 5rem;
    }
    
    .wrapSubtitleMain {
        margin-bottom: 5rem;   
    }

    .subtitleMain {
        font-size: 2.5rem;
    }

    .wrapBtnMain {
        margin-bottom: 5rem;
    }

    .btnCreateMain {
        padding: 0.8rem;
        width: 45rem;
        font-size: 2.5rem;
    }
    
    .btnLoginMain {
        padding: 0.8rem;
        width: 45rem;
        font-size: 2.5rem;
    }

    .imgGooglePlay {
        margin-bottom: 5rem;
        width: 20rem;
    }

    .textBottomMain {
        font-size: 1.5rem;
    }
}
