* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.hide {
    display: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;   
    
    position: fixed;
    top: 0;
    width: 100%;
}

.logoTinder {
    width: 10rem;
}

.fa-bars {
    color: white;
    font-size: 2.5rem;
}

/* main */

.main {
    background-image: url("/assets/tinder-background.webp");
    background-size: cover;
    background-position: center;
    
    background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 2rem;
    padding-top: 10rem;
}