* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    list-style: none;
}

:root {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Montserrat', sans-serif;
}

.hide {
    display: none;
}

/* header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 2rem;   
    
    position: fixed;
    top: 0;
    width: 100%;
}

.logoTinder {
    width: 10rem;
    cursor: pointer;
}

.fa-bars {
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
}

/* main */

.main {
    background-image: url("/assets/tinder-background.webp");
    background-size: cover;
    background-position: center;
    
    background-color: rgba(0, 0, 0, 0.5);
	background-blend-mode: color;

    height: 100vh;

    display: flex;
    flex-direction: column;
    /* align-items: center; */

    padding: 0 2rem;
    padding-top: 7rem;

    margin-bottom: 2rem;
}

.titleMain {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 3rem;
}

.wrapSubtitleMain {
    margin-bottom: 3rem;   
}

.subtitleMain {
    color: white;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    line-height: 2.5rem;
    cursor: pointer;
}

.subtitleMain:hover {
    text-decoration: none;
}

.wrapBtnMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 3rem;
}

.btnCreateMain {
    padding: 0.8rem;
    width: 26rem;
    border-radius: 5rem;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    background: linear-gradient(45deg, deeppink, darkorange);
    cursor: pointer;
}

.btnCreateMain:hover {
    opacity: 0.8;
}

.btnLoginMain {
    padding: 0.8rem;
    width: 26rem;
    border-radius: 5rem;
    border: 2.5px solid white;
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    background: none;
    cursor: pointer;
}

.imgGooglePlay {
    width: 18rem;
    margin-bottom: 3rem;
    cursor: pointer;
}

.textBottomMain {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: rgb(184, 184, 184); /* adapted. */
    margin-bottom: 0;
}

/* footer-1 */

.footer-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    /* padding: 0 2rem; */
    margin-top: 1rem;
}

.wrapTitleItemFooter-1 {
    width: 12rem;
}

.titleFooter-1 {
    font-size: 1.4rem;
    font-weight: bold;
    color: #21262E;
}

.itemFooter-1 {
    font-size: 1.2rem;
    cursor: pointer;
    color: #21262E;
}

.itemFooter-1:hover {
    color: #D6002F;
    transition: all .3S ease;
}

.fa-brands {
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
    color: #21262E;
}

.fa-brands:hover {
    color: #D6002F;
    transition: all .3S ease;
}

/* footer-2 */

.footer-2 {
    margin-top: 2rem;
    /* padding: 0 2rem; */
}

.wrapFirstPartFooter-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.imgGooglePlayFooter, .imgAppStoreFooter {
    width: 12rem;   
    cursor: pointer;
}

.wrapSecondPartFooter-2 {
    padding: 0 2rem;
}

.textFooter-2 {
    font-size: 1rem;
    text-align: justify;
    margin-top: 2rem;
    color: #21262E;
}

/* footer-3 */

.footer-3 {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
}

.wrapItemsFooter-3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    line-height: 0.5rem;

    margin-top: 2rem;
    margin-bottom: 2rem;
}

.itemFooter-3 {
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    color: #21262E;
}

.itemFooter-3:hover {
    color: #D6002F;
    transition: all .3S ease;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemCopyright {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: #21262E;
}

